.container {
  padding-bottom: 10px;
  padding-top: 40px;
}

.canvasContainer {
  height: 266px;
}

@media (min-width: 768px) {
  .canvasContainer {
    height: 374px;
  }

  .container {
    padding-bottom: 100px;
    padding-top: 80px;
  }
}

@media (min-width: 1280px) {
  .canvasContainer {
    height: 336px;
  }

  .container {
    padding-bottom: 0;
    padding-top: 0;
  }
}
