/* @font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/indie-flower-v11-latin-regular.eot');
  src: local('Indie Flower'), local('IndieFlower'),
    url('../assets/fonts/indie-flower-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/indie-flower-v11-latin-regular.woff2') format('woff2'),
    url('../assets/fonts/indie-flower-v11-latin-regular.woff') format('woff'),
    url('../assets/fonts/indie-flower-v11-latin-regular.ttf') format('truetype'),
    url('../assets/fonts/indie-flower-v11-latin-regular.svg#IndieFlower') format('svg');
} */
