/* :root {
  --color-white: #ffffff;
  --color-yellow: #f5d53b;
  --color-dark-yellow: #edb446;
  --color-green: #9ecb45;
  --color-pale-gray: #e0e0e0;
  --color-gray: #858598;
  --color-dark-blue: #42414b;
  --bg-color-white: #ffffff;
  --text-color-black: #212121;
} */
