.transactionHistory {
  background: #ffffff;
  font-family: 'HelveticaNeueCyr', sans-serif;
}

.transactionHead {
  display: none;
}
.transaction {
  margin: 0 0 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.pair {
  width: 100%;
  display: flex;
  line-height: 45px;
}
.pair:nth-child(odd) {
  background: #f4f5f7;
}
.key {
  flex-basis: 100%;
  padding: 0 0 0 15px;
}
.val {
  flex-basis: 100%;
}
.hilite {
  color: var(--color-main-orange);
}
.transaction:nth-child(odd) .key {
  border-left: 8px solid var(--color-main-orange);
}
.transaction:nth-child(even) .key {
  border-left: 8px solid #777;
}

@media (min-width: 768px) {
  .transactionHead {
    display: flex;
    justify-content: space-between;
  }
  .transactionHead div {
    padding: 0 10px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
    width: 100%;
  }
  .transaction {
    flex-direction: row;
  }
  .transaction:nth-child(odd) .pair {
    background: #fff;
  }
  .transaction:nth-child(even) .pair {
    background: #f4f5f7;
  }
  .key {
    display: none;
  }
  .val {
    padding: 0 10px;
  }
}

@media (min-width: 1280px) {
}
