.linkBox {
  margin-right: 14px;
}

.link {
  display: block;
  width: 30px;
  height: 25px;
  margin: 0 auto;
  background-color: var(--bg-color-dark-blue);
  border-radius: 5px;
}

.activeLink {
  background-color: #66778e;
}

.svg {
  margin: 0 auto;
  text-align: center;
}

.text {
  display: none;
}

.after {
  display: none;
}

@media (min-width: 768px) {
  .link {
    width: 130px;
    background: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    color: #7e8e94;
  }

  .svg {
    margin: 0 10px 0 0;
  }

  .after {
    font-size: 24px;
    padding-bottom: 2px;
  }

  .text {
    display: block;
    font-family: 'HelveticaNeueCyr', serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.3px;
    padding-bottom: 6px;
    padding-right: 16px;
  }

  .activeLink {
    color: var(--color-main-blue);
  }
}

@media (min-width: 1280px) {
  .link {
    color: #ffffff;
    width: 100%;
    margin: 0;
    padding: 19px 0;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0;
  }

  .linkBox {
    margin: 0;
  }

  .activeLink {
    color: #ffffff;
    background-color: #66778e;
  }

  .after {
    display: none;
  }

  .svg {
    padding-left: 26px;
    margin-right: 16px;
  }
}
