.header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  padding: 10px;
  box-shadow: none;
  margin: 0;
  background-color: rgb(40, 64, 96);
  align-items: center;
}

.title {
  color: rgb(117, 131, 151);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1.44px;
  font-size: 20px;
  font-family: 'BauhausC';
  font-weight: bold;
  margin: 0 0 0 10px;
  padding-top: 4px;
}

.Logo_IMG,
.Logo_link {
  height: 28px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
}

.user_logout_div {
  display: flex;
  justify-content: flex-end;
  width: 70px;
  flex-flow: row;
  align-self: center;
}

@media (min-width: 768px) {
  .header {
    background-color: #fff;
  }

  .user_logout_div {
    width: fit-content;
    padding: 0 5px;
    justify-content: space-between;
  }

  .title {
    font-size: 20px;
    color: rgb(40, 40, 40);
  }

  .Logo_IMG {
    transition: 0.3s ease-in;
  }

  .Logo_IMG:hover {
    transform: scale(1.03, 1.03);
    transition: transform 0.3s ease-in;
  }
}

@media (min-width: 1280px) {
  .header {
    max-width: 1192px;
    margin: 0 auto;
  }
}
